html, body{
    margin: 0 auto;
    padding 0;
    width: 100%;
    height: auto;
    font-size: 62.5%;
    box-sizing: border-box;
    text-align: center;
    
}
body{
    box-sizing: border-box;
    background-color: lightgray
   
}

header{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
    
}

span{
    transform: translateY(10rem);
    margin: 0 auto;
    padding: 0;
    width: 90%;
    height: auto;
    display: block;
    border: solid 2rem red;
     overflow: hidden;
    
}

img{
    margin: 0 auto;
    padding: 0;
    width: calc(3008px/60%);
    max-width: 100%;
    display: block;
   
}
